@page
@model WebAppProgDay31.Pages.ContactsModel
@{
}
<div class="text-center">
    <h1 class="text-center-4">Our Location!</h1>
    <p>Phone Number: 0213456789 </p>
    <p>Email Address: FarmCentral@Headquaters.co.za</p>
    <p>Physical Address: Second floor Towers,19 Ella Street, Cape Town </p>

    <img src="Images/Map.jpeg" alt="Sample Photo" width="500" />

</div>