@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="text-center-4">Welcome to Farm Central</h1>

    <img src="Images/Farm2.jpg" alt="Sample Photo" width="800" />

</div>
